.alert
    <svg class="icon error">
        <use xlink:href="#error"></use>
    </svg>
    div
        p.errorText Lorem ipsum dolor sit amet consectetur.
        .timeLine

header
    a(href="/").logo 
        img(src="img/logo.png", alt="Логотип Компанії Kanvas")
        h1 Kanvas

    .burger_button
        span
        span
        span
    .menu
        nav
            a(href="#") Галерея
            a(href="#") Про нас
        .tell_button
            a(href="javascript:void(0)" onclick="cell_popup()") замовити дзвінок